---
layout: archive
title: "Portfolio"
permalink: /portfolio/
author_profile: true
---

## Academic Activities
### CERCIRAS Summer School (2022, Crotia)
### HiPEAC Student Challenge - Fastest and The most energy efficient Histogram Equalization


## Industrial Activities
### Internships
1. Sundance Multiprocessor Long Term 

2. Roketsan (Defense Industry) 

3. Dalgakiran Compressor (Compressor Machinery Industry)




{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

